.alpha {
  /* feature:alpha */
  color: red;
}
.bravo {
  /* <feature:bravo> */
  background-color: orange;
  /* some harmless comment */
  border-color: orange;
  color: orange;
  /* </feature:bravo> */
  padding: 5px;
}
