.alpha {
  /* feature:alpha */
  $favorite-color: green;
}
.bravo {
  /* <feature:bravo> */
  $favorite-number: 8675309;
  /* some harmless comment */
  background-color: orange;
  border-color: orange;
  color: orange;
  /* </feature:bravo> */
}
